.container {
  background-color: #d6ecf5; }

.cabecalho {
  background-color: #ffffff;
  padding: 10px 0px; }

.formulario {  
  padding: 10px; }

.criar-conta {
  padding: 70px 0px 0px 0px; }

.lista-margem {
  margin: 60px 0px 0px 0px; }